@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.navbar-dark {
  background-color: #0c5393;
}
.row-header{
  font-family: 'Open Sans', sans-serif;
  color:floralwhite;
  margin:0px auto;
  padding:0px auto;
}
.row-content {
  margin:0px auto;
  padding:0px auto;
  min-height:500px;
}
.footer{
  background-color: #0c5393;
  font-family: 'Open Sans', sans-serif;
  color:floralwhite;
  margin:0px auto;
  padding:0px auto;
}
.table{
  font-family: 'Open Sans', sans-serif;
  margin:0px auto;
  padding:0px auto;
}
.report{
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  margin:0px auto;
  padding:0px auto;
}