.navbar-dark {
  background-color: #0c5393;
}
.row-header{
  font-family: 'JetBrains Mono';
  color:floralwhite;
  margin:0px auto;
  padding:0px auto;
}
.row-content {
  margin:0px auto;
  padding:0px auto;
  min-height:500px;
}
.row-card{
  max-width: 62%;
  margin:0px -5px;
  padding:0px -5px;
}
.footer{
  background-color: #0c5393;
  font-family: 'JetBrains Mono';
  color:floralwhite;
  margin:0px auto;
  padding:0px auto;
}
.table{
  font-family: 'JetBrains Mono';
  margin:0px auto;
  padding:0px auto;
}
.report{
  font-family: 'JetBrains Mono';
  color: #666666;
  margin:0px auto;
  padding:0px auto;
}